.cell-click-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.time-entry-minutes-cell {
  cursor: pointer;
}

.cell-editable {
  font-weight: 400;
  padding: 7px 5px;
}

.cell-editable:focus {
  outline: none;
}

.ce-valid {
  background-color: #d2f8d2;
}

.ce-invalid {
  background-color: #f8d2d2;
}

.content-editable {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 7px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
