.cell-editable-click-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.time-entry-minutes-cell {
  cursor: pointer;
}

.cell-editable {
  font-weight: 400;
}

.ce-valid {
  background-color: green;
}

.ce-invalid {
  background-color: red;
}

.content-editable {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}
